* {
  box-sizing: border-box;
  /*背景默认颜色*/
  --bgColor: #fff;
  /*左侧菜单背景默认颜色*/
  --asideBg: #fff;
  /*左侧菜单文字默认颜色*/
  --asideTextColor: #4E5969;
  /*左侧菜单文字选择颜色*/
  --asideActiveTextColor: #165DFF;
  /*左侧菜单元素悬浮时背景颜色*/
  --asideHoverBg: #F2F3F5;
  /*子菜单背景颜色*/
  --menuItemBgColor: #fff;
  /*子菜单鼠标悬浮背景颜色*/
  --menuItemBgColorHover: #F2F3F5;
  /*表格表头*/
  --tableHeaderBgColor: #F2F3F5;
  --tableHeaderTextColor: #1D2129;
}
th {
  background-color: var(--tableHeaderBgColor) !important;
  color: var(--tableHeaderTextColor) !important;
  font-weight: 500!important;
}
.app-body {
  border-radius: 5px;
  background-color: #fff;
}
/*左侧菜单*/
.el-menu {
  background-color: var(--asideBg) !important;
}
.el-menu .el-menu-item {
  color: var(--asideTextColor) !important;
}
.el-menu .el-menu-item:hover,
.el-menu .el-submenu__title:hover {
  background-color: var(--asideHoverBg) !important;
}
.el-menu .is-active {
  color: var(--asideActiveTextColor) !important;
}
.el-menu .el-submenu__title {
  color: var(--asideTextColor) !important;
}
.index-main {
  height: 100vh;
  /**界面头部 */
  /*用户菜单样式*/
  /**界面侧栏 */
  /**内容 */
}
.index-main .system-title {
  padding-left: 10px;
}
.index-main .index-header {
  padding: 0;
  /*角色信息框*/
  /*用户名框*/
}
.index-main .index-header span {
  letter-spacing: 3px;
  font-size: 14px;
}
.index-main .index-header .index-header-box {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #E5E6EB;
  padding: 0 60px 0 20px;
  display: flex;
  justify-content: space-between;
}
.index-main .index-header .index-header-box .header-left,
.index-main .index-header .index-header-box .header-right {
  display: flex;
  height: 100%;
  align-items: center;
}
.index-main .index-header .index-header-box .header-left i,
.index-main .index-header .index-header-box .header-right i {
  font-size: 20px;
  cursor: pointer;
  color: #4E5969;
}
.index-main .index-header .index-header-box .header-left span,
.index-main .index-header .index-header-box .header-right span {
  font-size: 14px;
  letter-spacing: 1.5px;
}
.index-main .index-header .index-header-box .header-left span i,
.index-main .index-header .index-header-box .header-right span i {
  font-size: 16px;
}
.index-main .index-header .role-box {
  display: none;
}
.index-main .index-header .tabs-box {
  width: 100%;
  /**窗口标签 */
}
.index-main .index-header .tabs-box .el-tabs__item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #4E5969 !important;
  border-radius: 4px;
}
.index-main .index-header .tabs-box .el-tabs--card > .el-tabs__header .el-tabs__item {
  border: none;
}
.index-main .index-header .tabs-box .el-tabs__item:hover {
  color: #000;
}
.index-main .index-header .tabs-box .el-tabs__item.is-active {
  color: var(--themeColor);
  background-color: #fff;
}
.index-main .index-header .username-box {
  font-size: 0!important;
  cursor: pointer;
  width: 40px!important;
  height: 40px!important;
  line-height: 40px!important;
  border-radius: 50%!important;
  overflow: hidden;
  background-image: url('/favicon.ico');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.index-main .index-header .username-box .username-drop-down i {
  color: white!important;
  opacity: 0;
  user-select: none;
}
.index-main .portal-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff !important;
  border-bottom: 1px solid #e6e6e6;
}
.index-main .portal-header .el-menu {
  display: table;
  align-items: center;
}
.index-main .portal-header .el-menu .portal-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.index-main .portal-header .portal-avatar {
  align-self: center;
  width: 100px;
}
.index-main .el-header {
  background-color: #F2F3F5;
}
.index-main .index-aside {
  user-select: none;
}
.index-main .index-aside ul {
  height: 100%;
}
.index-main .index-body {
  padding: 16px 20px 0;
  background-color: #F2F3F5;
}
.zhan {
  width: 30px;
  height: 1px;
}
.el-tabs__header {
  margin: 0;
}
.el-tabs__content {
  display: none;
}
/**菜单折叠 */
.fold {
  transition: width 0.5s;
}
.unfold {
  transition: width 0.5s;
  width: 200px;
}
/**标签左右切换按钮 */
.el-tabs__nav-next,
.el-tabs__nav-prev {
  line-height: 30px;
  color: #dedede;
}
/*样式常量*/
* {
  /*主题色*/
  --themeColor: #00A3FF;
}
/*侧栏图标颜色*/
.el-submenu__title i {
  /* color: #FFF; */
}
.el-breadcrumb__inner {
  color: #4E5969 !important;
}
.el-dropdown i {
  color: #1F2D3D !important;
}
/*主页上方样式*/
.index-header-box {
  background-color: var(--bgColor);
}
/*LOGO样式*/
.logo-box {
  font-weight: 700;
  color: white;
}
/*子菜单背景颜色*/
.el-submenu .el-menu-item {
  min-width: 199px;
  background-color: var(--menuItemBgColor) !important;
}
/*子菜单背景鼠标悬浮颜色*/
.el-submenu .el-menu-item:hover {
  background-color: var(--menuItemBgColorHover) !important;
}
/* 表单校验提示信息 */
.form-rule {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: red;
}
.el-table--border,
.el-table--group {
  border-radius: 5px;
  overflow: hidden;
}
/**盛放按钮的盒子 */
.button-box {
  padding: 15px 0 15px 0;
}
/*子页面样式*/
.app-body {
  padding: 5px 10px;
}
/**页码盒子统一样式 */
.page-box {
  padding: 20px 0;
  text-align: right;
}
/* 弹出框标题背景色*/
.el-dialog {
  border-radius: 12px!important;
  overflow: hidden;
}
.el-dialog__header {
  background-color: var(--themeColor);
}
.el-dialog__close {
  color: white!important;
}
.el-dialog__title {
  color: white!important;
}
/*条件查询样式*/
.info-search-box .search {
  height: 60px;
  display: flex;
  line-height: 60px;
  /* width: 1200px; */
}
.info-search-box .search .search-item {
  font-size: 12px;
  padding: 0 15px;
  color: #666;
  vertical-align: top;
  font-weight: 600;
}
.info-search-box .search .el-input {
  width: 200px;
}
/*登录页背景*/
.tworice-login-bg {
  overflow: hidden;
  background-image: url('~@/assets/img/loginBg.jpg');
  background-size: 100%;
  /* animation: bganimation 15s infinite; */
}
/**背景动画 */
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
