* {
  box-sizing: border-box;
  --bgColor: #304156;
  /*左侧菜单背景默认颜色*/
  --asideBg: #304156;
  /*左侧菜单文字默认颜色*/
  --asideTextColor: #ffffff;
  /*左侧菜单文字选择颜色*/
  --asideActiveTextColor: #409EFF;
  /*左侧菜单元素悬浮时背景颜色*/
  --asideHoverBg: #253344;
  /*表格表头*/
  --tableHeaderBgColor: var(--themeColor);
  --tableHeaderTextColor: #fff;
}
th {
  background-color: var(--tableHeaderBgColor) !important;
  color: var(--tableHeaderTextColor) !important;
  font-weight: 700!important;
}
/*左侧菜单*/
.el-menu {
  background-color: var(--asideBg) !important;
}
.el-menu .el-menu-item {
  color: var(--asideTextColor) !important;
}
.el-menu .el-menu-item:hover,
.el-menu .el-submenu__title:hover {
  background-color: var(--asideHoverBg) !important;
}
.el-menu .is-active {
  color: var(--asideActiveTextColor) !important;
}
.el-menu .el-submenu__title {
  color: var(--asideTextColor) !important;
}
/*用于解决子菜单背景白色问题*/
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  background-color: transparent!important;
}
.index-main {
  height: 100vh;
  /**界面头部 */
  /*用户菜单样式*/
  /**界面侧栏 */
  /**内容 */
}
.index-main .system-title {
  padding-left: 10px;
}
.index-main .index-header {
  padding: 0;
}
.index-main .index-header span {
  letter-spacing: 3px;
  font-size: 14px;
}
.index-main .index-header .index-header-box {
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 3px gray;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.index-main .index-header .index-header-box .header-left,
.index-main .index-header .index-header-box .header-right {
  display: flex;
  height: 100%;
  align-items: center;
}
.index-main .index-header .index-header-box .header-left i,
.index-main .index-header .index-header-box .header-right i {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.index-main .index-header .index-header-box .header-left span,
.index-main .index-header .index-header-box .header-right span {
  font-size: 14px;
  letter-spacing: 1.5px;
}
.index-main .index-header .index-header-box .header-left span i,
.index-main .index-header .index-header-box .header-right span i {
  font-size: 16px;
}
.index-main .index-header .tabs-box {
  width: 100%;
}
.index-main .portal-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bgColor) !important;
  border-bottom: 1px solid var(--bgColor);
}
.index-main .portal-header .el-menu {
  display: table;
  align-items: center;
}
.index-main .portal-header .el-menu .portal-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.index-main .portal-header .portal-avatar {
  align-self: center;
  width: 100px;
}
.index-main .index-aside {
  user-select: none;
}
.index-main .index-aside ul {
  height: 100%;
}
.index-main .index-body {
  padding: 0;
}
.zhan {
  width: 30px;
  height: 1px;
}
.el-tabs__header {
  margin: 0;
}
.el-tabs__content {
  display: none;
}
/**菜单折叠 */
.fold {
  transition: width 0.5s;
}
.unfold {
  transition: width 0.5s;
  width: 200px;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border: none;
}
.el-tabs__item:hover {
  color: #000;
}
.el-tabs__item.is-active {
  color: var(--themeColor);
}
/**标签左右切换按钮 */
.el-tabs__nav-next,
.el-tabs__nav-prev {
  line-height: 30px;
  color: #dedede;
}
/*样式常量*/
* {
  /*主题色*/
  --themeColor: #00A3FF;
}
/*侧栏图标颜色*/
.el-submenu__title i {
  /* color: #FFF; */
}
.el-breadcrumb__inner {
  color: #fff !important;
}
.el-dropdown i {
  color: #1F2D3D !important;
}
/*主页上方样式*/
.index-header-box {
  background-color: #304156;
}
/*LOGO样式*/
.logo-box {
  font-weight: 700;
  color: white;
}
/*子菜单背景颜色*/
.el-submenu .el-menu-item {
  min-width: 199px;
  background-color: #1F2D3D !important;
}
/*子菜单背景鼠标悬浮颜色*/
.el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}
/* 表单校验提示信息 */
.form-rule {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: red;
}
.el-table--border,
.el-table--group {
  border-radius: 5px;
  overflow: hidden;
}
/**盛放按钮的盒子 */
.button-box {
  padding: 15px 0 5px 0;
}
/*子页面样式*/
.app-body {
  padding: 5px 10px;
}
/**页码盒子统一样式 */
.page-box {
  padding: 20px 0;
  text-align: right;
}
/* 弹出框标题背景色*/
.el-dialog {
  border-radius: 12px!important;
  overflow: hidden;
}
.el-dialog__header {
  background-color: var(--themeColor);
}
.el-dialog__close {
  color: white!important;
}
.el-dialog__title {
  color: white!important;
}
/*条件查询样式*/
.info-search-box .search {
  height: 60px;
  display: flex;
  line-height: 60px;
  /* width: 1200px; */
}
.info-search-box .search .search-item {
  font-size: 12px;
  padding: 0 15px;
  color: #666;
  vertical-align: top;
  font-weight: 600;
}
.info-search-box .search .el-input {
  width: 200px;
}
/**背景动画 */
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.min-height {
  min-height: 1vh;
}
.el-page-header {
  padding: 20px 10px;
}
