
/* 菜单栏右边框 */
.el-menu{
      border-right:none!important;
}

/* 侧栏滚动条 */
.el-aside{
      overflow-x:hidden;
}
.el-aside::-webkit-scrollbar{width:0px; height: 0px;} /* 滚动条宽度 */ 
.el-aside::-webkit-scrollbar-track{background-color:#0084b5;} /* 滚动条背景色 */ 
.el-aside::-webkit-scrollbar-thumb{background-color:#0084b5;} /* 滚动条颜色 */ 
.el-aside::-webkit-scrollbar-thumb:hover {background-color:#C5C7CA} /* 滚动条hover颜色 */ 
.el-aside::-webkit-scrollbar-thumb:active {background-color:#C5C7CA} /* 滚动条active颜色 */

/* 主页面滚动条 */
.el-main{
      overflow-x:hidden;
}
.el-main::-webkit-scrollbar{width:0px; height: 0px;} /* 滚动条宽度 */ 
.el-main::-webkit-scrollbar-track{background-color:#0084b5;} /* 滚动条背景色 */ 
.el-main::-webkit-scrollbar-thumb{background-color:#0084b5;} /* 滚动条颜色 */ 
.el-main::-webkit-scrollbar-thumb:hover {background-color:#C5C7CA} /* 滚动条hover颜色 */ 
.el-main::-webkit-scrollbar-thumb:active {background-color:#C5C7CA} /* 滚动条active颜色 */

/* 解决子页面塌陷 */
.app-body:after{
      content: '';
      clear: both;
      display: block;
      height: 0;
}
/* 页面中的条件查询样式 */
.info-search-box .search{
      display: flex;
      line-height: 60px;
      flex-wrap: wrap;
}
.info-search-box .search .search-item{
      font-size: 12px;
      padding:0 5px;
      color: #666;
      vertical-align: top;
      font-weight: 600;
      flex-basis: auto;
}
.info-search-box .search .el-input{
      width: 150px;
}
/* 页面导航标签 */
.tabs-box{
      background-color: #F2F3F5;
      height: 30px;
      overflow: hidden;
}
.el-tabs__item{
      height: 30px!important;
      line-height: 30px!important;
      font-size: 12px!important;
}


/* 公共的样式 */
.app-body{
      height: 100%;
}
.min-height{
      min-height: 1vh;
}
.none-more{
      line-height: 80px;
      text-align: center;
      font-size: 12px;
      color: gray;
}
/*登录页背景*/
.tworice-login-bg{
      overflow: hidden;
      background-image: url('~@/assets/img/loginBg.jpg');
      background-size: cover;
      background-position: center;
      font-family: "montserrat";
}


/* 查看的Descriptions组件 */
.el-descriptions-item__label{
      min-width: 70px!important;
}
