@font-face {
  font-family: "iconfont"; /* Project id 2984053 */
  src: url('//at.alicdn.com/t/c/font_2984053_suzfyr6286.woff2?t=1699937783979') format('woff2'),
       url('//at.alicdn.com/t/c/font_2984053_suzfyr6286.woff?t=1699937783979') format('woff'),
       url('//at.alicdn.com/t/c/font_2984053_suzfyr6286.ttf?t=1699937783979') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yijianfankui:before {
  content: "\e685";
}

.icon-logo:before {
  content: "\e6b0";
}

.icon-quanping:before {
  content: "\e600";
}

.icon-suoxiao:before {
  content: "\f074";
}
