/*响应式布局*/
@media screen and (max-width: 768px) {
    .hidden-xs {
        display: none !important;
    }
}
@media screen and (max-width: 500px) {
    .hidden-phone {
        display: none !important;
    }
}
@media screen and (max-width: 500px) {
    .index-main .index-body {
        padding: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .index-header {
        height: 60px !important;
    }
}
@media screen and (max-width: 500px) {
    .el-dialog {
        width: 100%!important;
    }
}